body {
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: white;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

.pageWrapper {
    display: block;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.5);
}

.pageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

body #background {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.main {
    display: block;
    flex: 1;
}

#homeContent {
    display: block;
}

#aboutmeContent {
    display: none;
}

#educationContent {
    display: none;
}

#portfolioContent {
    display: none;
}

#contactContent {
    display: none;
}

.footerwrapper {
    display: block;
}

.navbar .left {
    display: flex;
    align-items: flex-end;
}

#brand {
    max-height: 100px;
}

h1 {
    color: white;
    font-family: 'Space Mono', monospace;
}